@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@layer utilities {
  .glass {
    @apply bg-white/70 dark:bg-slate-800/70 backdrop-blur-lg;
  }
}
